<div class="grid">
    <header class="header">
        <div class="c">
            <div>
                logo
            </div>
            <div>
                who-am-i
            </div>
        </div>

    </header>

    <aside class="aside">
    </aside>

    <main class="main">

        <div class="c">
            <div class="test">
                <h1> get started </h1>
                <app-input-group2 label="phone number"/>
                <app-input-group2 label="message" />
            </div>
            <app-get-api/>
        </div>
        
    </main>
</div>
