.ig{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 0.8rem;
    transform: translate(20px, 10px);
    background-color: white;
    padding: 0 4px;
    width: fit-content;
    z-index: 1;
}

textarea{
    display: block;
    padding: 10px 5px 5px 5px;
    border: 1px solid #000;
    background-color: white;
    border-radius: 5px;
    width: 400px;
    user-select: none;
    cursor: auto;
    position: relative;
    font-size: 0.9rem;
}

i{
    margin: -39px;
    display: inline-flex;
    padding: 5px;
    border-radius: 50%;
    font-size: 25px;
    z-index: 1;
}


.count {
    font-size: 0.75rem;
    color: #aaa;
    text-align: right;
}