app-add-btn{
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: #0d57cd;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
}