<div class="ca">
    <div class="c">
        <div class="ci">
            <div class="t">
                <h1> Sign In</h1>
            </div>
            
            <app-input-group label="Email"    [(value)]="form.email"/>
            <app-input-group label="Password" [(value)]="form.password" type="password" />
            <a href="#"> forgot your password ? </a>
            <div class="gtb">
                <button (click)="login()"> SIGN IN </button>
            </div>
        </div>
    </div>
</div>