<div class="grid">
    <header class="header">
        <div class="c">
            <div>
                logo
            </div>
            <div>
                who-am-i
            </div>
        </div>

    </header>

    <aside class="aside">
    </aside>

    <main class="main">
        <div>
            <h1> GET YOUR API </h1>

            <div>
                <label> account sid</label>
                <input value="hello-an"  readonly />
            </div>

            <div>
                <label> auth token</label>
                <input value="hello-man"  readonly />

            </div>




        </div>
    </main>
</div>
