.grid{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        'header header'
        'aside main';
    grid-template-columns: 300px 1fr;
    grid-template-rows: 75px 1fr;
}

header{
    grid-area: header;
    background-color: #337;
    display: flex;
}

header > .c{
    margin: auto 15px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > * {
    font-size: medium;
}

aside{
    grid-area: aside;
    background-color: #227;
    border-top-right-radius: 5px;
}

aside, header > * {
    color: white
}

main{
    grid-area: main;
}