.ca{
    width: 100vw;
    height: 100vh;
    display: flex;
}

.c{
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
}

.ci{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.t{
    display: flex;
}

.t > h1{
    margin: auto;
}





.chbd{
    font-size: 0.9rem;
    color: #666;
    padding: 5px 0;
}

input[type="checkbox"] {
    width: 18px;
}

.gtb{
    display: flex;
}

.gtb > button {
    margin: auto;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #8888;
    cursor: pointer;
    background-color: rgb(76, 114, 252);
    color: white
}
