.toast{
    position: absolute;
    bottom: 40px;
    left: 40px;
    padding: 5px 20px;
    color:white;
    border-radius: 5px;
    z-index: 4;
}

.hidden{
    opacity: 0;
    transition: all 300ms ease;
}