/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

*::placeholder{
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #eee;
}

h1{
    font-size: 1.4rem;
}